service cloud.firestore {
  match /databases/{database}/documents {
    // A regra padrão é bloquear o acesso a qualquer
    // documento ou coleção
    match /{document=**} {
      allow read, write: if false;
    }

    // Permite que um usuário tenha acesso ao seus próprios
    // relatos
    match /usuario/{usuario}/relatos/{relato} {

      //
      // Read
      //

      allow read: if request.auth.uid == usuario;

      //
      // Delete
      //

      allow delete: if request.auth.uid == usuario;


      //
      // Create / Update
      //

      allow create, update:

        //
        // Autenticação
        //

        if request.auth.uid == usuario;

    }
  }
}
